Data requirements

In [1]:
import nannyml as nml
reference_df, analysis_df, _ = nml.load_synthetic_car_loan_dataset()
reference_df[['timestamp', 'y_pred_proba', 'y_pred', 'repaid']].head()

reference_df[[
    'car_value', 'salary_range', 'debt_to_income_ratio', 'loan_length', 'repaid_loan_on_prev_car', 'size_of_downpayment', 'driver_tenure'
]].head()

,car_value,salary_range,debt_to_income_ratio,loan_length,repaid_loan_on_prev_car,size_of_downpayment,driver_tenure
0,39811.0,40K - 60K €,0.632950,19.0,False,40%,0.212653
1,12679.0,40K - 60K €,0.718627,7.0,True,10%,4.927549
2,19847.0,40K - 60K €,0.721724,17.0,False,0%,0.520817
3,22652.0,20K - 40K €,0.705992,16.0,False,10%,0.453649
4,21268.0,60K+ €,0.671888,21.0,True,30%,5.695263